/*styling for full components*/

.component {
  margin: 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.create-component {
  border: solid black 1px;
  padding: 2em;
  box-shadow: 2.5px 5px 4px #888888;
  border-radius: 5px;
  margin-bottom: 20px;
}

.list {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.list-item {
  border: solid black 1px;
  box-shadow: 2.5px 5px 4px #888888;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list-item > * {
  margin: 0.5em;
}

.meal-item-component-header {
  text-transform: capitalize;
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button-box > * {
  cursor: pointer;
}

.delete-link,
.delete-link:hover,
.delete-link:link,
.delete-link:active,
.delete-link:visited {
  color: red;
}

/*plan styling*/
.plan {
  text-align: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.plan > * {
  padding: 20px;
}

.plan__name {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.plan__calories {
  padding-bottom: 10px;
}

.plan__button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.plan__list-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.plan__list-item {
  text-align: left;
}

.plan__list-item:not(last-child) {
  padding-bottom: 10px;
}

/*grocery list styling*/
.grocery__name {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .list {
    grid-template-columns: repeat(5, 1fr);
  }
}
